/*HOME PAGE FORM*/
#submit
{
    float: right;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    size: inherit;
    width: 3.5%;
}
#submit:hover {
    background-color: #adadb3;
  }



/*TOP BAR*/

#navbar {
    overflow: hidden;
    background-color: #292929;
    padding: 10px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

    #navbar a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
    }

    #navbar #logo {
        font-size: 35px;
        font-weight: bold;
        transition: 0.4s;
    }

    #navbar a:hover {
        background-color: black;
        color: black;
    }

    #navbar a.active {
        font-size: 50px;
        color: floralwhite;
        font-family: 'Playfair Display', serif;
    }

#navbar-right {
    float: right;
    position:relative;
    left: -400px;
    top: 25px;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }

        #navbar a {
            float: none;
            display: block;
            text-align: left;
        }

    #navbar-right {
        float: none;
    }
}

/*PRESEPE LARGE IMAGE*/


.bigImmage {
    width: 100%;
    height: 600px;
}

/*TEXT*/


.headerCenter {
    font-family: 'Playfair Display', serif;
    color: #780307;
    font-size: 60px;
    text-align: center;
    position: relative;
    top: -10px;
}

.headerText {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    position: relative;
    font-family: sans-serif;
    top: -10px;
    line-height: 3;
    text-align: center;
    color: aliceblue;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: aliceblue;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: white;
    color: #292929;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

    input[type=submit]:hover {
        background-color: wheat;
        color: black;
        font-weight:bold;
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    background-image: url(foto/form.jpg);
}

.col-25 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: left;
    width: 25%;
    margin-top: 6px;
    font-size: 30px;
    color: navajowhite;
    font-weight: 900;
    position: relative;
    left: 150px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    position: relative;
    left: -10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}




/*FOOTER*/

footer {
    padding: 3px;
    background-color: #292929;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color: #000;
}
footer p 
{
    text-align: end;
}



/*PRODUCT PAGE*/

.product-intro
{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    border-style:solid;
    border-color: #292929;
}

.Intro-Headline
{
    font-family:'Playfair Display', serif;
    text-align: center;
    color: aliceblue;
}

.Intro-Body
{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}

.Product-List
{
    background-color:cadetblue;
}

.Sfondo
{
    background-color:#292929;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }